.quran_content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}

@media screen and (max-width: 1280px) {
    .quran_content {
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 768px) {
    .quran_content {
        grid-template-columns: repeat(1,1fr);
    }
}

.quran {
    height: 100vh;
}



.icon_quran {
    font-size: 3rem;
    color: var(--text-color);
    cursor: pointer;
}


.button_quran_icon {
    background: transparent;
}

.aya_container {
    background-color: var(--container-color);
    color: var(--text-color);
    display: flex;
    padding: 1rem;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
}