.main_page {
    min-height: 100vh;
    display: flex; /* Added */
    flex-direction: column; /* Added */
}

.main_page .section, 
.main_page .container {
    flex: 1; /* Changed from height: 100% to flex: 1 */
}

.main_page .section {
    display: flex;
    align-items: center;
}

.main_content {
    display: flex;
    flex-direction: row; /* Ensure horizontal layout */
    column-gap: 2rem;
    flex: 1; /* Make main_content take remaining space */
}

.main_content div {
    flex-basis: 50%;
}

.main_content div {
    padding: 3rem;
}

.main_content div:first-child p {
    color: var(--text-color);
    /* font-family: "Amiri Quran", serif ; */
    font-size: 1.1rem;
}

.main_content div:first-child p span {
    color: var(--green);
    font-weight: bold;
    margin: 0 1rem;
}

.ayatlkorsi {
    font-size: 1.5rem;
    font-family: "Amiri Quran", serif ;
    color: var(--title-color);
}


@media screen and (max-width:1024px) {
    .main_content {
        flex-direction: column;
    }
}